<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mju.com.iojo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
    application
        android:icon => 어플 아이콘
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_iojo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StyleRecommend.StyleRecommendActivity"
            android:label="@string/title_activity_style_recommend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClosetAdmin.ClosetAdminActivity"
            android:label="@string/title_activity_closet_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddClothes.AddClothesActivity"
            android:label="@string/title_activity_add_clothes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting.SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting.NotiActivity"
            android:label="@string/title_activity_noti"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting.BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <receiver android:name=".Setting.BroadCast" />
    </application>

</manifest>